body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/036/236/original/sky.jpg?1654337658");
  color: white;
  padding: 80px;
  border: 50px;
}

h1 {
  font-size: 48px;
}

h2,
#temperature {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#celsius-link,
#fahrenheit-link,
.dash {
  display: inline-block;
  position: relative;
  top: -18px;
  text-decoration: none;
}

.dash {
  color: #383838;
}

#icon {
  width: 200px;
  position: absolute;
  left: 300px;
  top: 300px;
}

.weatherinfo,
.timeframe,
ul {
  padding: 0;
}

.col-2 {
  margin-top: 50px;
}
.col-2:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.weather-forecast-temperature-max,
.weather-forecast-temperature-min {
  position: relative;
  text-align: left;
  left: 100px;
  top: -50px;
}

footer {
  color: #383838;
}

.active {
  color: white;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}
