body {
  margin: 50px;
  padding: 20px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/036/236/original/sky.jpg?1654337658");
}

h1 {
  color: white;
  font-size: 48px;
}

h2,
#temperature {
  color: white;
  font-size: 40px;
}

h3 {
  font-size: 25px;
  color: white;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#celsius-link,
#fahrenheit-link,
.dash {
  display: inline-block;
  position: relative;
  top: -18px;
  text-decoration: none;
}

.dash {
  color: #383838;
}

#icon {
  width: 200px;
  float: right;
  position: relative;
  top: -100px;
}

p {
  text-align: center;
  color: whitesmoke;
  position: relative;
  top: -100px;
}

.weatherinfo,
.timeframe,
ul {
  color: white;
  padding: 0;
}

.precipitation_info,
.wind_info {
  color: white;
  display: block;
  position: relative;
  top: 25px;
}

.time_info,
.temperature_info .day {
  font-size: 20px;
  color: white;
}

.col-1 {
  background-color: darkcyan;
  opacity: 85%;
}

.col-2 {
  margin-top: 50px;
  color: white;
}
.col-2:hover {
  cursor: pointer;
  transform: scale(1.5);
}

button.bracket {
  background-color: darkcyan;
  color: oldlace;
  border: solid 1px;
  padding: 87px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  float: right;
}

button:hover {
  background-color: rgb(2, 118, 118);
}
.col-1:hover {
  background-color: rgb(2, 118, 118);
}
.weather-forecast-temperature-max,
.weather-forecast-temperature-min {
  position: relative;
  text-align: left;
  left: 100px;
  top: -50px;
}

footer {
  color: #383838;
}

.active {
  color: white;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}
