body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/036/236/original/sky.jpg?1654337658");
  color: black;
  padding: 40px;
}

.weather-app {
  border: 1px solid #dadce0;
  padding: 60px 40px;
  margin: 20px auto;
  max-width: 800px;
  background: white;
  opacity: 0.9;
  border-radius: 30px;
}

.form-control {
  width: 100%;
}

.city {
  position: relative;
}

h1 {
  font-size: 48px;
}

.pin-location {
  font-size: 40px;
}

#temperature {
  font-size: 64px;
}

.city {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#celsius-link,
#fahrenheit-link,
.dash {
  display: inline-block;
  position: relative;
  top: -30px;
  text-decoration: none;
}

.dash {
  color: #383838;
}

#icon {
  width: 200px;
  position: relative;
  float: right;
}

.weatherinfo,
.timeframe,
ul {
  padding: 0;
}

.col-2 {
  margin-top: 50px;
}
.col-2:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.weather-forecast-temperature-max,
.weather-forecast-temperature-min {
  position: relative;
  text-align: left;
  left: 100px;
  top: -50px;
}

footer {
  color: #383838;
}

.active {
  color: #383838;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}
